/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;500;600&display=swap');

/* ---------------------
** Global CSS
---------------------- */
*{
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Poppins', sans-serif;
}
a {
    text-decoration: none;
}
p{
    color: #6C6C6C;
    font-size: 17px;
    font-weight: 300;
    line-height: 30px;
}
.btn{
    background-color: #000;
    color: #fff;
    padding: 10px 40px;
    transition: 0.5s;
}
.btn:hover{
    background-color: #1a1919;
    color: #fff;
    transition: 0.5s;
}
/* ---------------------
** Header CSS
---------------------- */
.headerBlur{
    padding: 16px 0px;
    transition: color 350ms ease,background-color 350ms ease;
    background: rgba(255,255,255,0.2);
    -webkit-backdrop-filter: blur(1rem);
    backdrop-filter: blur(1rem);
}
.navbar-brand{
    font-weight: 500;
}
.nav-item .nav-link{
    font-weight: 300;
}
/* ---------------------
** Hero CSS
---------------------- */
.btn-slider{
    background-color: #fff;
    color: #000;
    padding: 10px 40px;
    transition: 0.5s;
}
.btn-slider:hover{
    background-color: #f0eded;
    color: #000;
}
.carContent{
    padding: 0px 250px;
}
.carContent h2{

}
.carContent p{
    color: #fff;
    margin-top: 20px;
}

/* ---------------------
** Pricing Table
---------------------- */
.hot-collection{
    position: absolute;
    top: -8px;
    right: 30px;
    background: red;
    color: #fff;
    padding: 5px 25px;
    border-radius: 50px;
}
    
.pricingTable {
    text-align: center;
    background: #fff;
    margin: 0 -15px;
    box-shadow: 0 0 10px #ababab;
    padding-bottom: 40px;
    border-radius: 10px;
    color: #cad0de;
    transform: scale(1);
    transition: all .5s ease 0s;
}

.pricingTable:hover {
    transform: scale(1.05);
    z-index: 1;
}

.pricingTable .pricingTable-header {
    padding: 40px 0;
    background: #f5f6f9;
    border-radius: 10px 10px 50% 50%;
    transition: all .5s ease 0s;
}

.pricingTable:hover .pricingTable-header {
    background: #000;
}

.pricingTable .pricingTable-header i {
    font-size: 50px;
    color: #858c9a;
    margin-bottom: 10px;
    transition: all .5s ease 0s;
}

.pricingTable .price-value {
    font-size: 35px;
    color: #000;
    transition: all .5s ease 0s;
}

.pricingTable .month {
    display: block;
    font-size: 14px;
    color: #cad0de;
}

.pricingTable:hover .month,
.pricingTable:hover .price-value,
.pricingTable:hover .pricingTable-header i {
    color: #fff;
}

.pricingTable .heading {
    font-size: 24px;
    color: #000;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.pricingTable .pricing-content ul {
    list-style: none;
    padding: 0;
    margin-bottom: 30px;
}

.pricingTable .pricing-content ul li {
    line-height: 30px;
    color: #a7a8aa;
}

.pricingTable .pricingTable-signup a {
    display: inline-block;
    font-size: 15px;
    color: #fff;
    padding: 10px 35px;
    border-radius: 20px;
    background: #000;
    text-transform: uppercase;
    transition: all .3s ease 0s;
}

.pricingTable .pricingTable-signup a:hover {
    box-shadow: 0 0 10px #000;
}

.pricingTable.blue .heading,
.pricingTable.blue .price-value {
    color: #ff9624;
}

.pricingTable.blue .pricingTable-signup a,
.pricingTable.blue:hover .pricingTable-header {
    background: #ff9624;
}

.pricingTable.blue .pricingTable-signup a:hover {
    box-shadow: 0 0 10px #ff9624;
}

.pricingTable.red .heading,
.pricingTable.red .price-value {
    color: #ff4b4b;
}

.pricingTable.red .pricingTable-signup a,
.pricingTable.red:hover .pricingTable-header {
    background: #ff4b4b;
}

.pricingTable.red .pricingTable-signup a:hover {
    box-shadow: 0 0 10px #ff4b4b;
}

.pricingTable.green .heading,
.pricingTable.green .price-value {
    color: #40c952;
}

.pricingTable.green .pricingTable-signup a,
.pricingTable.green:hover .pricingTable-header {
    background: #40c952;
}

.pricingTable.green .pricingTable-signup a:hover {
    box-shadow: 0 0 10px #40c952;
}

.pricingTable.blue:hover .price-value,
.pricingTable.green:hover .price-value,
.pricingTable.red:hover .price-value {
    color: #fff;
}


/* ---------------------
** Testimonials
---------------------- */


.card {
    border: none;
    cursor: pointer;
    box-shadow: 0 0 40px rgba(51, 51, 51, .1)
}

.card:hover {
    background-color: #eee
}

.ratings i {
    color: orange
}

.testimonial-list {
    list-style: none
}

.testimonial-list li {
    margin-bottom: 20px
}

.testimonials-margin {
    margin-top: -19px
}

